<%= form_with model: @cost do |f| %>
  <div class="field">
    <%= f.label :amount, 'Amount($)' %>
    <%= f.number_field :amount, step: :any %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, placeholder: 'Description..' %>
  </div>

  <div class="actions">
    <%= f.submit "Add Cost" %>
  </div>
<% end %>
