<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">Category: <%= @cost.category.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Amount($): <%= @cost.amount.to_f %></h6>
    <p class="card-text">Description: <%= @cost.description %></p>
    <div class="action">
      <%= link_to 'Back', :back, class: "btn btn-light" %>
      <% if can? :update || :destroy, @cost %>
        <%= link_to 'Edit', edit_cost_path(@cost), class: "btn btn-warning" %>
        <%= link_to 'Destroy', cost_path(@cost), class: "btn btn-danger", 'data-turbo-method': :delete %>
      <% end %>
    </div>
  </div>
</div>
