<h3>Category: <%= @cost.category.name %></h3>
<h4>Amount: <%= @cost.amount.to_f %></h4>
<p>
  Description: <%= @cost.description %>
</p>
<div>
  <%= link_to 'Back', costs_path %>
  <%= link_to 'Edit', edit_cost_path(@cost) %>
  <%= link_to 'Destroy', cost_path(@cost), 'data-turbo-method': :delete %>
</div>
